<h1>Chat#index</h1>
<p>Find me in app/views/chat/index.html.erb</p>

<ul id="chat_area">
  <!-- ココにコメントを追加させて行く-->
</ul>

<input id="comment" type="text">
<input id="sned" type="button" value="送信！">

<script>
  // 接続開始
  var ws_rails = new WebSocketRails("localhost:3000/websocket");

  // 受信時の処理
  ws_rails.bind("websocket_chat", function(message){
    var message_list = document.createElement("li");
    message_list.textContent = message;
    document.getElementById("chat_area").appendChild(message_list);
  })

  // 送信時の処理
</script>
